/GenusPrime
/GenusPrime.debug
/GenusPrime_noPulseAudio
/GenusPrime_Linux32
/GenusPrime_Linux64
/GenusPrime_Linux32_noPulseAudio
/GenusPrime_Windows32.exe
/GenusPrime_Windows64.exe
*.exe
*.bak
*.app
*.bmx/
*assets.raw/
log.*.txt
tests/
*savegames/
source/version.txt
screenshot*.png
screenshot*.jpg
.DS_Store
